---
name: CMake Build Windows

on:
  push:
    branches:
      - master
  pull_request:
  page_build:
  workflow_dispatch:

env:
  # Customize the CMake build type here (Release, Debug, RelWithDebInfo, etc.)
  BUILD_TYPE: Release
  VCPKG_FILE: C:/vcpkg/scripts/buildsystems/vcpkg.cmake

jobs:
  build:
    # The CMake configure and build commands are platform agnostic and should work equally
    # well on Windows or Mac.  You can convert this to a matrix build if you need
    # cross-platform coverage.
    # See: https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/managing-complex-workflows#using-a-build-matrix
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v4

      - name: CMAKE Configure
        run: >
          cmake -B ${{github.workspace}}/build 
          -D MDF_BUILD_TOOL=ON -D MDF_BUILD_TEST=ON -D MDF_BUILD_SHARED_LIB=OFF
          -DCMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} 
          -D CMAKE_TOOLCHAIN_FILE=${{env.VCPKG_FILE}}

      - name: CMake Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

      - name: Unit Test
        working-directory: ${{github.workspace}}/build
        # Execute tests defined by the CMake configuration.
        # See https://cmake.org/cmake/help/latest/manual/ctest.1.html for more detail
        run: ctest -C ${{env.BUILD_TYPE}}
...
