---
name: CMake Build MacOS

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  BUILD_TYPE: Release
  VCPKG_FILE: /usr/local/share/vcpkg/scripts/buildsystems/vcpkg.cmake

jobs:
  macos:
    runs-on: macos-latest

    steps:
      - uses: actions/checkout@v4

      - name: CMAKE Configure
        run: >
          cmake -B ${{github.workspace}}/build 
          -D MDF_BUILD_TOOL=OFF -D MDF_BUILD_TEST=OFF -D MDF_BUILD_SHARED_LIB=OFF
          -D CMAKE_BUILD_TYPE=${{env.BUILD_TYPE}} 
          -D CMAKE_TOOLCHAIN_FILE=${{env.VCPKG_FILE}}

      - name: CMake Build
        run: cmake --build ${{github.workspace}}/build --config ${{env.BUILD_TYPE}}

...
